body {
    background-color: rgb(24, 24, 42);
}
h1 {
font-family: Bahnschrift Condensed;
color: aliceblue;
}

.main {
    display: flex;
    justify-content: center;
}
.subdiv {
    justify-content: flex-end;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  html {
    height: 100%;
  }
  body {
    display: flex;
    height: 100%;
    background-color: #333;
  }
  .word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }
  
  p:hover, h1:hover, a:hover {
    background-color: rgb(255, 0, 0);
  }