body {
  background-color: black;
}
h1 {
  color: aliceblue;
}
h2 {
  
}
h3 {
  
}
p {
  color: rgb(238, 242, 245);
}
a {
  
}
.info {
  display: flex;
}
.infosub {
  margin: 10px;
}

 .waviy {
  position: relative;
  text-align: center;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
}

@keyframes flip {
  0%, 80% {
      transform: rotateY(360deg);
  }
}

