body {
  background-color: rgb(24, 24, 42);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: #ddd;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: aliceblue;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(238, 242, 245);
}

a {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #21a1f1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.infosub {
  text-align: center;
  max-width: 600px;
}

.infosub p {
  margin-bottom: 20px;
}

.waviy {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}

.projects {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.projectssubsub {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background-color: #030515;
  border: 1px solid #181884;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Erikoisasetukset viimeiselle projektille (Black Aectori) */
.project-card:last-child {
  width: 400px; /* isompi kortti */
  justify-self: center; /* keskitetty */
}

.headerp {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.infop {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .project-card {
    width: 45%; /* kaksi per rivi tabletilla */
  }

  .project-card:last-child {
    width: 90%; /* viimeinen iso kortti mobiililla */
  }
}

@media (max-width: 480px) {
  .project-card {
    width: 100%; /* yksi per rivi mobiilissa */
  }

  .project-card:last-child {
    width: 100%; /* viimeinen kortti täysleveys mobiilissa */
  }
}

img {
  width: 100%;
  height: auto;
}
